Formação Cientista de Dados - Fernando Amaral e Jones Granatyr
Limpeza e tratamento de Dados

In [23]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [ ]:
#importar dados
dataset = pd.read_csv("../dados/Churn.csv", sep=";")
#visulizar
dataset.head() #primeiras linhas, 5 por padrão

In [ ]:
#tamanho
dataset.shape # quantidade de linhas e colunas

In [9]:
#primeiro problema é dar nomes as colunas
dataset.columns = ["Id","Score","Estado","Genero","Idade","Patrimonio","Saldo","Produtos","TemCartCredito",
                    "Ativo","Salario","Saiu"] # renomeando as colunas

In [ ]:
#visulizar
dataset.head() #primeiras linhas, 5 por padrão

In [ ]:
#explorar dados categoricos
#estado
agrupado = dataset.groupby(['Estado']).size() #agrupando por estado
agrupado

In [ ]:
agrupado.plot.bar(color = 'gray') #grafico de barras, cinza

In [ ]:
#genero
agrupado = dataset.groupby(['Genero']).size()
agrupado

In [ ]:
agrupado.plot.bar(color = 'gray')

In [ ]:
#explorar colunas numéricas
#score
dataset['Score'].describe() #descrevendo a coluna score, resumo estatistico

In [ ]:
srn.boxplot(dataset['Score']).set_title('Score') #grafico de caixa, boxplot

In [ ]:
srn.histplot(dataset['Score']).set_title('Score') #grafico de distribuição

In [ ]:
#idade
dataset['Idade'].describe() #descrevendo a coluna idade, resumo estatistico

In [ ]:
srn.boxplot(dataset['Idade']).set_title('Idade') #grafico de caixa, boxplot

In [ ]:
srn.histplot(dataset['Idade']).set_title('Idade') #grafico de distribuição

In [ ]:
#saldo
dataset['Saldo'].describe() #descrevendo a coluna saldo, resumo estatistico

In [ ]:
srn.boxplot(dataset['Saldo']).set_title('Saldo') #grafico de caixa, boxplot

In [ ]:
srn.histplot(dataset['Saldo']).set_title('Saldo')

In [ ]:
#salário
dataset['Salario'].describe()  #descrevendo a coluna salario, resumo estatistico

In [ ]:
srn.boxplot(dataset['Salario']).set_title('Salario') #grafico de caixa, boxplot

In [ ]:
srn.histplot(dataset['Salario']).set_title('Salario') #grafico de distribuição

In [ ]:
#contamos valores NAN
#genero e salário
dataset.isnull().sum() #contando valores nulos

In [ ]:
#salarios
#remover nas e substiutir pela mediana
dataset['Salario'].describe() #descrevendo a coluna salario, resumo estatistico

In [ ]:
mediana = sts.median(dataset['Salario']) #calculando a mediana
mediana

In [ ]:
#substituir NAN por mediana
dataset['Salario'].fillna(mediana, inplace=True) #substituindo os valores nulos pela mediana, inplace=True para modificar o dataset

In [ ]:
#Verificamos se NAN não existem mais
dataset['Salario'].isnull().sum() #contando valores nulos

In [ ]:
#genero, falta de padronização e NAs
agrupado = dataset.groupby(['Genero']).size() #agrupando por genero
agrupado #visualizando

In [ ]:
#total de Nas
dataset['Genero'].isnull().sum() #contando valores nulos

In [ ]:
#preenche NAs com Masculino (moda)
dataset['Genero'].fillna('Masculino', inplace=True) #substituindo os valores nulos por Masculino, usando a moda

In [ ]:
#verificamos novamente NANs
dataset['Genero'].isnull().sum() #contando valores nulos

In [ ]:
#padroniza de acordo com o dominio
dataset.loc[dataset['Genero'] ==  'M', 'Genero'] = "Masculino" #substituindo M por Masculino
dataset.loc[dataset['Genero'].isin( ['Fem','F']), 'Genero'] = "Feminino" #substituindo Fem e F por Feminino
#isin para verificar se está na lista
#visualiza o resultado
agrupado = dataset.groupby(['Genero']).size()  #agrupando por genero
agrupado

In [ ]:
#idades fora do dominio
dataset['Idade'].describe() #descrevendo a coluna idade, resumo estatistico

In [ ]:
#visualizar 
dataset.loc[(dataset['Idade'] <  0 )  | ( dataset['Idade'] >  120) ] #visualizando idades fora do dominio

In [ ]:
#calular a mediana
mediana = sts.median(dataset['Idade']) #calculando a mediana
mediana

In [60]:
#substituir
dataset.loc[(dataset['Idade'] <  0 )  | ( dataset['Idade'] >  120), 'Idade'] = mediana #substituindo idades fora do dominio pela mediana

In [ ]:
#verificamos se ainda existem idades fora do domínio
dataset.loc[(dataset['Idade'] <  0 )  | ( dataset['Idade'] >  120) ] #visualizando idades fora do dominio

In [ ]:
#dados duplicados, buscamos pelo ID
dataset[dataset.duplicated(['Id'],keep=False)] #buscando duplicados,  keep=False para mostrar todos os duplicados

In [ ]:
#excluimso pelo ID
dataset.drop_duplicates(subset="Id", keep='first',inplace=True)
#excluindo duplicados, keep='first' para manter a primeira ocorrência, inplace=True para modificar o dataset
#buscamos duplicados 
dataset[dataset.duplicated(['Id'],keep=False)] #buscando duplicados,  keep=False para mostrar todos os duplicados

In [ ]:
#estado foram do domínio
agrupado = dataset.groupby(['Estado']).size() #agrupando por estado
agrupado

In [73]:
#atribuomos RS (moda)
dataset.loc[dataset['Estado'].isin( ['RP','SP','TD']), 'Estado'] = "RS" #substituindo RP, SP e TD por RS
agrupado = dataset.groupby(['Estado']).size() # reagrupando por estado

In [ ]:
#verificamos o resultado
agrupado

In [ ]:
#outliers em salário, vamos considerar 2 desvios padrão
desv = sts.stdev(dataset['Salario']) #calculando o desvio padrão
desv

In [ ]:
#definir padrão como maior que 2 desvios padrão
#checamos se algum atende critério
dataset.loc[dataset['Salario'] >=  2 * desv ] #verificando salarios maiores que 2 desvios padrão

In [ ]:
#vamos atualiar salarios para mediana, calculamos
mediana = sts.median(dataset['Salario']) #calculando a mediana
mediana

In [ ]:
#atribumos
dataset.loc[dataset['Salario'] >=  2 * desv, 'Salario'] = mediana #substituindo salarios maiores que 2 desvios padrão pela mediana
#checamos se algum atende critério
dataset.loc[dataset['Salario'] >=  2 * desv ]  #verificando salarios maiores que 2 desvios padrão