# Formação Cientista de Dados - Prof. Fernando Amaral
Variáveis e Objetos

In [ ]:
#Cria variável do tipo inteiro
x = 1
print(z)
#Cria variável do tipo float
y = 3.13
print(y)
#Cria variável do tipo string
n = "Python"
m = 'Python'
print(m)
print(n)
#Cria variável do tipo lógica
w = True  
y = False
print(y)

In [7]:
#calculadora
x = 10
y = 20
z = 100
w = (x + y) * z / 100
print(round(w))

30

In [8]:
#exibir texto no console
print("Este texto será impresso no console")
print(x)
print("Texto e duas variáveis: ", x ,", ", z)

Este texto será impresso no console
10
Texto e duas variáveis:  10 ,  100

In [13]:
#verificar tipo
print(type(x))
print(type(m))
print(type(w))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
#entrada de dados
print("Informe o valor: ")
i = input()
#mostra tipo string
print(type(i))

Informe o valor:
<class 'str'>

In [15]:
#entrada de valor com msg separada e junto
print("Informe o valor: ")
i = input()
# ou
i = input("Informe o valor: ")

Informe o valor:

In [16]:
#conversão de valores
#para inteiro
var = input("Informe o valor: ")
print(type(var))
var = int(var)
print(type(var))

<class 'str'>
<class 'int'>

In [17]:
#para float
var = input("Informe o valor: ")
print(type(var))
var = float(var)
print(type(var))

<class 'str'>
<class 'float'>

In [19]:
# Este texto é um comentário
X = 10  # a partir daqui é um comentário